*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card{
  margin-left: 2.5rem;

}
img{
  width: 80%;
}