*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecera {
  padding-top: 0px;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.cabeCentro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabeDcha {
  display: flex;
  align-items: center;
}

.fondoBlanco {
  background-color: white;
  border-width: 0px;
}

.margin {
  margin-right: 10px;
}

.bordeGris {
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-color: grey;
  border-width: thin;
  height: 7vh;
}

.gris {
  color: grey;
  font-weight: bold;
}

.redondoIzqda {
  border-radius: 20px 0px 0px 20px;
}

.redondear {
  border-radius: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
}

.redondoDcha {
  border-radius: 0px 20px 20px 0px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lupa {
  margin-left: 15px;
  margin-right: 3px;
}